@font-face{
    src: url(font/imprintmtshadow.ttf);
    font-family:mtshad;
}

.main_featured_article img {
    width:100%;
    height: auto;
    
}
.main_featured_article {
    width: 100%;
    height: auto;
}
.main_featured_article p::first-letter {
  font-size: 200%;
  color: #8A2BE2;
}
.main_featured_article p {
    flex: auto;
    margin-top: 10%;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.2em;
    font-family: 'Spectral', serif;
}
.main_featured_article h2{
    text-align:center;
    font-size: 2em;
    color: floralwhite;
    margin-top: -100px;
}
.feat_image{
    width:100%;
    margin: auto;
    margin-left: 5px;
    background-position: center;
    overflow:hidden;
}
.small_featured_container {
    width:auto;
    display: flex;
    flex-direction: row;
    overflow:hidden;
}
.featured_group{
    width: 50%;
    margin-left: 30px;
    display:flex;
    flex-direction: column;
}

#featured_articles {
    
    display:flex;
    flex-direction: row;
    justify-content:  center;
}
.feat_txt p {
    padding: 0px 10px 0px 10px;
    width: 100%;
    font-size: 1.0em;
    font-family: 'Spectral', serif;
    font-weight: 200;
    text-decoration: none;
}
 h3{
    text-align: center;
    text-decoration: underline;
    margin-bottom: 5px;
    margin-top: 5px;
    
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
  background-color: lightgrey;
}
div#wrapper {
    max-width: 1700px;
    height: auto;
    border: 1px solid black;
    padding:5px;   
}
header h1 {
    margin: 0px;
    font-size: 240px;
    font-family: mtshad;
    font-weight: 20;
    color: red;
    letter-spacing: -10px;
}
header {
    background-color: black;
    background-image: url(../img/Guitar%20PG03.jpg);
    background-size: contain;
    background-position: right center;
    background-repeat: no-repeat;
}
header img {
     
     height: 800px;
     width: 1900px;
     margin-top: 0px;
}
nav {
    margin-top: 0px;
}

body {
    background-color: whitesmoke;

}
ul {
    list-style-type: none;
    border-color: red;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
    
}
ul a {
    font-family: mtshad;
    font-weight:500;
    color: red;
    flex-direction: row;
    font-size: 1.4em; 
    text-decoration: none;
    margin-right: 8px;
}

img#ad1 {
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#ad {
    width: 100%;
    margin-top: 20px;
    
}
#tele {
    width: 300px;
    margin-left: 200px;
}
footer {
        background-color: black;
}
#footer-content {
    color: floralwhite;
    text-align: center;
}
#article {
    display: flex;
    /*margin-left: auto;
    //margin-right: auto;*/
    flex-direction: row;
    border: 1px solid black;
        
}
#feature {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    //border: 1px solid black; 
    margin: 10px;
}
#article h1 {
    color: forestgreen;
    display: block;
}
#p2ads {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 100px;
}
#ad4 {
    
}
#ad5 {
    margin-top:200px; 
}
#photo img {
    display: block;
     width:100%;
    height: auto; 
}
#photo p{
    font-size: 1.2em;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Spectral', serif;
}
#media {
    display:flex;
    flex-direction: row;
   margin-bottom: 10px;
    margin-top: 0px;
    display: block;
}
.media {
    width: 40px;
    border-radius: 55px;
    margin-top: 10px;
    margin-left: 20px;
    //margin-right: 20px;
   
}
input [type=text] {
    background-color: red;
    color: red;
    width: 20%;
    height: 50px;
}
#form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
#menuToggle input[type=checkbox]{
    opacity: 0;
}
nav .search-container  {
  float: right;
}

.search-container input[type=text] {
  padding: 5px;
  margin-top: 0px;
  font-size: 17px;
  //background-color: white;
  border: 1px solid red;
}

 nav .search-container button {
  float: right;
  padding: 6px 5px;
  margin-top: 8px;
  margin-right: 5px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}


/*//////////////////////////////////////////
//////////Tablet Size///////////////////////
///////////////////////////////////////////*/
@media screen and (max-width: 1270px)and (min-width: 1046px){
    
  .featured_group {
    flex-direction: column;
    flex: 80%;
    height: auto;
    margin-left: 30px;
     
  }
    .small_featured_container {
    flex-direction:column;
    
}
    .feat_txt {
    //padding-left: 5px;
    text-align:left;
    //width:250px;
    //height:auto;
    font-size: 1.1em;
}
    .feat_image {
        text-align: center;
        margin: auto;
        padding:8px;
        
    }
    #featured_articles {
     display:flex;
     //flex-direction: row;
     justify-content: space-evenly;
     //width:100%;
     //height: auto;
}
    header h1 {
    font-size:150px;
}
    div#ad {
    width: 100%;
    //text-align: center;
    height:auto;
    
}
    
}
@media screen and (max-width: 1045px) and (min-width: 541px) {
     header h1 {
    font-size:100px;
         letter-spacing: -1px;
}
    #ad {
        display: block;
        width: 100% ;
    }
}
/*/////////////////////////////////////
/////////PHONE SIZE////////////////////
//////////////////////////////////////*/
@media screen and (max-width: 540px) {
header h1 {
    font-size: 90px;
    letter-spacing: normal;
}
.main_featured_article img {
    width:100%;
    height: auto;
    //margin: 0 auto;
    text-align: center;
    
}
.main_featured_article {
    width: 100%;
    height: auto;
    margin-top: 10px;
}
.main_featured_article h2 {
    margin-top: -70px;
    width: 100%;
    font-size-adjust: auto;
    text-align: center;
}
.main_featured_article p {
    margin-top: 10%;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.2em;
    font-family: 'Spectral', serif;
}
.main_featured_article h2{
    font-size: 1.5em;
    color: floralwhite
}
.small_featured_container {
    flex:100%;
    width: 100%;
    font-size: .8em;
    flex-direction: row;
    color: #cdcdcd;
}
#main_content{
    display: flex;
    flex-direction: column;
    }
.featured_group {
    flex-direction: column;
    margin: 0px;
    width: 100%;
     
  }
#featured_articles {
        display: flex;
        flex-direction: column;
    }
.feat_image{
    width:90%;
}

#ad1 {
    display: flex;
    width: 100%
    }
#ad {
    margin-top: 10px;
}
#article {
    display: flex;
    flex-direction: column;
        
}
#feature {
   // display: flex;
    //flex-wrap: wrap;
    font-size: .8em;
    margin-top: 80px;
}
body {
  margin: 0;
  padding: 0;
  background: #232323;
  color: #cdcdcd;
}

#menu a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menu a:hover {
  color: tomato;
}

#menuToggle {
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  //-webkit-user-select: none;
  //user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  //-webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 10px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  //transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
/*
  the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
ul#menu {
  position: absolute;
  width: 250px;

  padding: 50px;
 
  border-radius: 15px;
  background: #E3E1E1;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-110%, 0);/*takes pop-in menu completely off the page*/
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
    color: #232323;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}
body {
  margin: 0;
  padding: 0;
  
  /* make it look decent enough */
  background: #232323;
  color: #cdcdcd;
  /*font-family: "Avenir Next", "Avenir", sans-serif;*/
}

ul a {
  text-decoration: none;
  color: #232323;
  
  transition: color 0.2s ease;
}
.active {
    background-color: lightpink;
}
a {
    text-decoration: none;
}
    a:hover {
        background-color: darkred;
        
    }

ul a:hover:not(.active){
   color: tomato;
}

#menuToggle {
  display: block;
 position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  //-webkit-user-select: none;
  //user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide square behind burger */
  z-index: 2; /* and place it over the hamburger */
  
  //-webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}


#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}
#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

/*
  And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
  transform: none;
}
    #media {
        margin-top: 75px;
    }
    
}
