

.main_featured_article img {
    width:100%;
    height: auto;
    
}
.main_featured_article {
    width: 100%;
    height: auto;
}
.main_featured_article p {
    flex: auto;
    margin-top: 20%;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.7em;
}
.main_featured_article h2{
    text-align:center;
    font-size: 2em;
    color: floralwhite;
    margin-top: -100px;
}
.feat_image{
    width:50%;
    margin: auto;
    margin-left: 5px;
    background-position: center;
    overflow:hidden;
}
.small_featured_container {
    width:auto;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    overflow:hidden;
}
.featured_group{
    width: 50%;
    margin-left: 30px;
    display:flex;
    flex-direction: column;
    //justify-content: space-around;
}

#featured_articles {
    
    display:flex;
    flex-direction: row;
    justify-content:  center;
}
.feat_txt {
    padding: 0px 7px 0px 7px;
    width: 100%;
    //height: 200px;
    font-size: 1.1em;
    text-decoration: none;
}
.feat_txt h3{
    text-align: center;
    text-decoration: underline;
    margin-bottom: 5px;
    margin-top: 5px;
    
}

@font-face{
    src: url(font/imprintmtshadow.ttf);
    font-family:mtshad;
}
a {
    text-decoration: none;
}
div#wrapper {
    max-width: 1700px;
    height: auto;
    border: 1px solid black;
    padding:5px;   
}
header h1 {
    margin: 0px;
    font-size: 240px;
    font-family: mtshad;
    font-weight: 20;
    color: red;
}
header {
    background-color: black;
    background-image: url(../img/Guitar%20PG03.jpg);
    background-size: contain;
    background-position: right center;
    background-repeat: no-repeat;
}
header img {
     
     height: 800px;
     width: 1900px;
     margin-top: 0px;
}
nav {
    margin-top: 0px;
}

body {
    background-color: whitesmoke;

}
ul {
    list-style-type: none;
    border-color: red;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
    
}
ul a {
    font-family: mtshad;
    font-weight:500;
    color: red;
    flex-direction: row;
    font-size: 1.4em; 
    text-decoration: none;
    margin-right: 8px;
}

img#ad1 {
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#ad {
    width: 100%;
    //text-align: center;
    //height:auto;
    
}
#tele {
    width: 300px;
    margin-left: 200px;
}
footer {
        background-color: black;
}
#footer-content {
    color: floralwhite;
    text-align: center;
}
#article {
    display: flex;
    //margin-left: auto;
    //margin-right: auto;
    flex-direction: row;
    border: 1px solid black;
        
}
#feature {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    border: 1px solid black; 
    margin: 10px;
}
#article h1 {
    color: forestgreen;
    display: block;
}
#ad5 {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 100px;
}
#p2ads {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 100px;
}
#ad4 {
    flex-shrink:100%;
    width: 100%;
}
#photo img {
    display: block;
     width:100%;
    height: auto; 
}
#photo p {
    font-size: 1.4em;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'EB Garamond', serif;
}

/*//////////////////////////////////////////
//////////Tablet Size///////////////////////
///////////////////////////////////////////*/
@media (max-width: 1270px) {
    
  .featured_group {
    flex-direction: column;
    flex: 80%;
    height: auto;
    margin-left: 30px;
     
  }
    .small_featured_container {
    flex-direction:column;
    
}
    .feat_txt {
    //padding-left: 5px;
    text-align:left;
    //width:250px;
    //height:auto;
    font-size: 1.1em;
}
    .feat_image {
        text-align: center;
        margin: auto;
        padding:8px;
        
    }
    #featured_articles {
     display:flex;
     //flex-direction: row;
     justify-content: space-evenly;
     //width:100%;
     //height: auto;
}
    header h1 {
    font-size:150px;
}
    div#ad {
    width: 100%;
    //text-align: center;
    height:auto;
    
}
    
}
/*/////////////////////////////////////
/////////PHONE SIZE////////////////////
//////////////////////////////////////*/
@media screen and (max-width: 640px) {
header h1 {
    font-size: 90px;
}
.main_featured_article img {
    width:100%;
    height: auto;
    //margin: 0 auto;
    text-align: center;
    
}
.main_featured_article {
    width: 100%;
    height: auto;
}
.main_featured_article h2 {
    margin-top: -70px;
    width: 100%;
    font-size-adjust: auto;
    text-align: center;
}
.main_featured_article p {
    margin-top: 10%;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.2em;
}
.main_featured_article h2{
    text-align:center;
    font-size: 1.5em;
    color: floralwhite
}
.small_featured_container {
    flex:100%;
    width: 100%;
    font-size: .8em;
    flex-direction: row;
}
#main_content{
    display: flex;
    //flex-direction: column;
    }
.featured_group {
    flex-direction: column;
    margin: 0px;
    width: 100%;
     
  }
#featured_articles {
        display: flex;
        flex-direction: column;
    }
.feat_image{
    width:90%;
}

#ad1 {
        display: flex;
    }
    #article {
    display: flex;
    flex-direction: column;
        
}
    #feature {
   // display: flex;
    //flex-wrap: wrap;
    font-size: .8em;
    margin: 0px;
}
    
}
